@keyframes zoom {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #02D49C;
  color: #fff; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  text-rendering: optimizeLegibility; }

.primary-heading {
  width: 100%; }
  .primary-heading--main {
    color: #fff;
    font-size: 10rem;
    display: block;
    text-shadow: 0px 5px 10px #000; }
    @media only screen and (max-width: 37.5em) {
      .primary-heading--main {
        font-size: 6rem; } }
    @media only screen and (max-width: 20em) {
      .primary-heading--main {
        font-size: 4rem; } }
  .primary-heading--sub {
    color: #02D49C;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-shadow: 0px 5px 10px #000; }

.secondary-heading {
  font-size: 3.8rem;
  margin-bottom: 4rem;
  text-align: center; }
  .secondary-heading::after {
    background-color: #02D49C;
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
    height: 2px;
    width: 15rem; }

.secondary-heading--white {
  color: #fff;
  font-size: 3.8rem;
  margin-bottom: 4rem;
  text-align: center; }
  .secondary-heading--white::after {
    background-color: #fff;
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: .5rem;
    height: 2px;
    width: 15rem; }

.text-white {
  color: #fff !important; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.clear {
  clear: both; }

.footer {
  background-color: #000;
  padding: 6rem 0; }
  .footer__text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  color: #000;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-top: 3rem;
  padding: 4rem 3rem;
  text-align: center;
  transition: all .3s; }
  .feature-box:hover {
    transform: translateY(-0.4rem); }
  .feature-box__icon {
    font-size: 8rem;
    text-shadow: 0px 3px 10px #aaaaaa; }
  .feature-box__heading {
    font-size: 2.6rem;
    margin-bottom: 1rem; }
  .feature-box__text {
    font-size: 1.7rem;
    text-align: left; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none; }

.btn--main {
  background-color: #02D49C;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0px 3px 10px black;
  text-transform: uppercase;
  padding: 1.5rem 2rem; }

.btn--about {
  background-color: #02D49C;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 1.2rem 1.8rem;
  border-radius: 2px;
  font-weight: 900;
  text-shadow: 0px 3px 10px black; }
  .btn--about:not(:last-child) {
    margin-right: 1rem; }

.gallery::after {
  content: "";
  display: table;
  clear: both; }

.gallery__photo-container {
  background-color: #000;
  display: block;
  float: left;
  height: 40vh;
  overflow: hidden;
  position: relative;
  width: 25%; }
  @media only screen and (max-width: 75em) {
    .gallery__photo-container {
      height: 30vh; } }
  @media only screen and (max-width: 56.25em) {
    .gallery__photo-container {
      height: 25vh; } }
  @media only screen and (max-width: 37.5em) {
    .gallery__photo-container {
      height: 20vh; } }
  @media only screen and (max-width: 25.875em) {
    .gallery__photo-container {
      width: 50%; } }
  .gallery__photo-container--img {
    position: absolute;
    top: 0;
    left: -5rem;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50rem;
    opacity: 0.7;
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s; }
    @media only screen and (max-width: 56.25em) {
      .gallery__photo-container--img {
        width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery__photo-container--img {
        width: 30rem; } }
    @media only screen and (max-width: 25.875em) {
      .gallery__photo-container--img {
        width: 28rem; } }
    .gallery__photo-container--img:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.03); }
    .gallery__photo-container--img-position {
      top: -15rem;
      left: -5rem; }
      @media only screen and (max-width: 25.875em) {
        .gallery__photo-container--img-position {
          top: -8rem; } }

.modal-box {
  animation-name: zoom;
  animation-duration: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000; }
  .modal-box__toggle {
    background-color: #02D49C;
    border-radius: 50rem;
    color: #fff;
    position: fixed;
    top: 5rem;
    right: 3rem;
    width: 8rem;
    height: 8rem;
    z-index: 15000; }
    @media only screen and (max-width: 37.5em) {
      .modal-box__toggle {
        width: 6rem;
        height: 6rem; } }
    .modal-box__toggle--background {
      position: fixed;
      top: 7rem;
      right: 5.8rem; }
      @media only screen and (max-width: 37.5em) {
        .modal-box__toggle--background {
          top: 6.5rem;
          right: 5rem; } }
    .modal-box__toggle--icon {
      cursor: pointer;
      font-size: 3.8rem;
      text-shadow: 0px 3px 10px #0f0f0f;
      transition: all .3s; }
      .modal-box__toggle--icon:hover {
        transform: translateY(-0.2rem); }
      @media only screen and (max-width: 37.5em) {
        .modal-box__toggle--icon {
          font-size: 3.2rem; } }
  .modal-box__content {
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .modal-box__img {
    width: 100%; }

.quote-box {
  position: relative;
  padding: 4rem 2rem;
  color: #fff;
  text-shadow: 0px 3px 10px black; }
  .quote-box__quotation {
    font-size: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .quote-box__quotation {
        font-size: 3rem; } }
    .quote-box__quotation--left {
      position: absolute;
      top: 2rem;
      left: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .quote-box__quotation--left {
          left: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .quote-box__quotation--left {
          left: 2rem; } }
    .quote-box__quotation--right {
      position: absolute;
      top: 2rem;
      right: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .quote-box__quotation--right {
          right: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .quote-box__quotation--right {
          right: 2rem; } }
  .quote-box__quote {
    max-width: 90rem;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .quote-box__quote {
        max-width: 70rem; } }
    @media only screen and (max-width: 56.25em) {
      .quote-box__quote {
        max-width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .quote-box__quote {
        max-width: 35rem; } }
    @media only screen and (max-width: 25.875em) {
      .quote-box__quote {
        max-width: 26rem;
        font-size: 2.5rem; } }
  .quote-box__citation {
    text-align: center;
    font-size: 3rem; }
    @media only screen and (max-width: 25.875em) {
      .quote-box__citation {
        font-size: 2.5rem; } }

.contact-box {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 5rem 0;
  text-align: center; }
  .contact-box__text {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__text {
        padding: 0 4rem;
        margin-bottom: 4rem; } }
  .contact-box__social-media {
    display: inline-block; }
  .contact-box__list {
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__list {
        padding: 0 12rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact-box__list {
        padding: 0 9rem; } }
    @media only screen and (max-width: 25.875em) {
      .contact-box__list {
        padding: 0 4rem; } }
  .contact-box__link {
    color: #fff;
    text-decoration: none; }
    .contact-box__link:not(:last-child) {
      margin-right: 3rem; }
  .contact-box__item {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: inline-block;
    font-size: 4rem;
    background: #02D49C;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .contact-box__item {
        margin-bottom: 2rem; } }
    .contact-box__item:hover {
      color: #000;
      transform: translateY(-0.3rem); }

.footer {
  background-color: #000;
  padding: 6rem 0; }
  .footer__text {
    color: #fff;
    font-size: 1.5rem;
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../media/conakry.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-attachment: scroll; } }

.navigation__button {
  background-color: #02D49C;
  border-radius: 50rem;
  position: fixed;
  top: 5rem;
  right: 3rem;
  width: 8rem;
  height: 8rem;
  z-index: 1000; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      width: 6rem;
      height: 6rem; } }

.navigation__toggle {
  position: fixed;
  top: 7rem;
  right: 5.4rem;
  height: 7rem;
  z-index: 1500; }
  @media only screen and (max-width: 56.25em) {
    .navigation__toggle {
      top: 7.2rem;
      right: 5.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__toggle {
      top: 6.5rem;
      right: 4.8rem; } }
  .navigation__toggle--icon {
    cursor: pointer;
    color: #fff;
    font-size: 3.8rem;
    text-shadow: 0px 3px 10px #0f0f0f;
    transition: all .3s; }
    .navigation__toggle--icon:hover {
      transform: translateY(-0.1rem); }
    @media only screen and (max-width: 37.5em) {
      .navigation__toggle--icon {
        font-size: 3.2rem; } }

.navigation__background {
  background-color: #02D49C;
  height: 100vh;
  width: 100%;
  position: fixed;
  text-align: center;
  opacity: 0;
  transition: all .2s;
  z-index: -1000; }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .3s; }

.navigation__item:not(:last-child) {
  margin-bottom: 4rem; }

.navigation__link {
  color: #fff;
  font-weight: 900;
  text-shadow: 0px 3px 10px #0f0f0f; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 4rem;
    text-decoration: none; }

section {
  padding: 6rem 0; }

.about-section__img-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 1rem; }

.about-section__img {
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.about-section__text-box {
  font-size: 1.7rem;
  line-height: 1.7; }
  .about-section__text-box-text:not(:last-child) {
    margin-bottom: 2.6rem; }

.quote-section {
  padding: 8rem 0;
  background-image: linear-gradient(rgba(2, 212, 156, 0.3), rgba(2, 212, 156, 0.3)), url(../media/mountains.jpg);
  background-position: top;
  background-size: cover;
  margin-top: 6rem;
  transform: skewY(-5deg); }
  .quote-section > * {
    transform: skewY(5deg); }
  @media only screen and (max-width: 56.25em) {
    .quote-section {
      background-attachment: scroll;
      transform: skewY(0); }
      .quote-section > * {
        transform: skewY(0); } }

.feature-section {
  margin-top: -7rem;
  padding-top: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .feature-section {
      background-color: #02D49C;
      color: #fff;
      transform: skewY(0);
      margin-top: 0;
      padding-top: 6rem; } }

.contact-section {
  background-color: #02D49C;
  margin-top: -6rem; }
