.gallery {
    @include clearfix;

    &__photo-container {
        background-color: #000;
        display: block;
        float: left;
        height: 40vh;
        // margin: 0;
        overflow: hidden;
        position: relative;
        width: 25%;
        
        @include respond(tablet-landscape) { height: 30vh; }
        @include respond(tablet-portrait) { height: 25vh; }
        @include respond(phone) { height: 20vh; }
        @include respond(smaller-phone) { width: 50%; }

        &--img {
            position: absolute;
            top: 0;
            left: -5rem;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            width: 50rem;
            opacity: 0.7;
            transform: scale(1.10);
            transition: transform 0.5s, opacity 0.5s;
            @include respond(tablet-portrait) { width: 40rem; }
            @include respond(phone) { width: 30rem; }
            @include respond(smaller-phone) { width: 28rem; }

            &:hover {
                cursor: pointer;
                opacity: 1;
                transform: scale(1.03);
            }

            &-position {
                top: -15rem;
                left: -5rem;
                @include respond(smaller-phone) { top: -8rem; }
            }
        }
    }
}

