section {
    padding: 6rem 0;
}

.about-section {

    &__img-box {
        background-color: rgba(#fff, .8);
        border-radius: 4px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
        padding: 1rem;
    }

    &__img {
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    }

    &__text-box {
        font-size: 1.7rem;
        line-height: 1.7;

        &-text {
            &:not(:last-child) {
                margin-bottom: 2.6rem;
            }
        }
    }
}

.quote-section {
    background-image: linear-gradient(
    to bottom,
    rgba($primary-color, .5),
    rgba($primary-color, .5)),
    url(../media/mountains.jpg);

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    margin-top: 6rem;
    padding: 8rem 0;
    position: relative;

    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    }

    @include respond(tablet-portrait) {
        background-attachment: scroll;

        @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
            -webkit-clip-path: none;
            clip-path: none;
        }
    }
}

.feature-section {
    margin-top: -7rem;
    padding-top: 12rem;

    @include respond(tablet-portrait) {
        background-color: $primary-color;
        color: #fff;
        transform: skewY(0);
        margin-top: 0;
        padding-top: 6rem;
    }
}

.contact-section {
    background-color: $primary-color;
    margin-top: -6rem;
}